VITE_API_URL=https://finduo.onrender.com/api
SUPABASE_URL=https://nyisxljcisnclraughlo.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im55aXN4bGpjaXNuY2xyYXVnaGxvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU4NTkwNDksImV4cCI6MjA5MTQzNTA0OX0.nxrr2-uwx3z8Jg1Cm8GuZV_oh_DhHEq55IGQi0jYt_k
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im55aXN4bGpjaXNuY2xyYXVnaGxvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTg1OTA0OSwiZXhwIjoyMDkxNDM1MDQ5fQ.CuQ6Q4vMA5POv3q9Sj7vy4I6LRJT4WBFVKgmUiylUx4
SUPABASE_JWT_SECRET=WYDZOG37HYMXxj8+8TA0IHBBKTFcx63D3mZ7Movo7p3OcTJJ/AK5bkePV40+SCUoJNTE7axpoDtGSIJ5XVyNYQ==