PORT=4000
CLIENT_URL=http://localhost:5173
CLIENT_URLS=https://finduo-front.onrender.com
SUPABASE_URL=https://tu-proyecto.supabase.co
SUPABASE_ANON_KEY=tu-anon-key
SUPABASE_SERVICE_ROLE_KEY=tu-service-role-key
SUPABASE_JWT_SECRET=tu-jwt-secret